.gridContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20vh 80vh;

  background-color: #a0530f;
  // background: rgb(160, 83, 15);
  // background: linear-gradient(
  //   0deg,
  //   rgba(160, 83, 15, 0.8) 100%,
  //   rgba(160, 83, 15, 0.8) 100%
  // );
}
.gridItem {
  padding: 20px;
  font-size: 4vh;
  text-align: center;
}

//----------------------------------------------

@media (max-width: 766px) {
  .mobileHeader {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

    background-color: #a0530f;
  }

  .mobileHeaderItems {
    padding-top: 2vh;
    float: left;
  }

  .gridItem {
    // padding: 20px;
    font-size: 10vh;
    text-align: center;
  }

  .mobileBody {
    display: grid;
  }
  .mobileBodyItem {
    font-size: 5vh;
    text-align: center;
  }
}

.mobileHeader {
  margin-top: 7vh;
}

.title {
  float: left;
  padding-left: 5vw;
  color: white;
  padding-top: 2vh;
}

.header {
  font-size: 2.8vh;
  word-spacing: 4vw;
  padding-right: 10vh;
  float: right;
}

//----------------------------------------------
.bodyGridContainer {
  display: grid;
  grid-template-columns: 30vw auto;
}
.bodyGridItem {
  font-size: 5vh;
  text-align: center;
  margin-top: 3vh;
}

.footer {
  padding-bottom: 6vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(160, 83, 15);
  background: linear-gradient(
    0deg,
    rgba(160, 83, 15, 0.1) 100%,
    rgba(160, 83, 15, 0.1) 100%
  );
  color: white;
  text-align: center;
}

.NavbargridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.NavVargridItem {
  padding: 20px;
  text-align: center;
}
