.header {
  font-size: 2.8vh;
  word-spacing: 4vw;
  /* padding-top: 2vh; */
  padding-right: 10vh;
}

.Navbargrid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196f3; */
  padding: 10px;
}
.NavVargrid-item {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  /* font-size: 30px; */
  text-align: center;
}
