.keyIWa {
  outline: none;
}

.buttonColor {
  background: rgb(160, 83, 15);
  background: linear-gradient(
    0deg,
    rgba(160, 83, 15, 0.8) 100%,
    rgba(160, 83, 15, 0.8) 100%
  );
}

.gCByfN {
  padding: 1vh !important;
}
