* {
  box-sizing: border-box;
}

html,
body,
.fullDim,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Loader {
  position: absolute;
  z-index: 1;
}
.tinted {
  background: #333333d6
}

.flex {
  display: flex;
}
.flex.centered {
  justify-content: center;
  align-items: center;
}
.flex > .flex-item
{
  flex: 1;
}